*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 1200px;
    height: 800px;
    background-color: green;
   
}

.image1{
   width: 100%;
    
}

.image2{
    position: absolute;
    top:0;
    left:0;
    display: none;
    width: 100%;
}

.card{
    width: 300px;
    position: relative;
}

.images{
   position: relative;
}
.card:hover .image2{
    display: block;
}

.discount{
    width:50px;
    height: 20px;
    background-color: red;
    position:absolute;
    bottom: 120px;
}

.percentage{
    color: white;
}
.bearableness{
    width: 80px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 120px;
    left: 60px;
    color: white;
}